<!DOCTYPE html>
<html lang="en">
<head>
    <title>BDS | Page Not Supported</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ url_for('static', filename='images/fav_icon.jpg') }}" />
	<link href="{{ url_for('static', filename='css/unsupported.css') }}" rel="stylesheet">
</head>
<body>
    <img class="content-top" src="{{ url_for('static', filename='images/login_header.png') }}" />
    <div class="content-center">
        <span class="text-unsupported-msg">Page is Not Supported for this Device !!!</span>
    </div>
    <img class="content-bottom" src="{{ url_for('static', filename='images/powered_by.png') }}" />
</body>
</html>